
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #787878;

}

h1, h2,  h4, h5, h6 {
	margin: 0;
	/*margin-top: -20px;*/
	padding: 0;
	
	
}

h1 {
	font-size: 2em;
	

}

h2 {
	font-size: 1.6em;
	font-weight: bolder;
	color: #24565a;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;

}

h4 {

	font-size: 1.6em;
	display: inline;
	color: #24565a;
}

h5 {
  font-size: 1.4em;

}

h6 {

	font-size: 1.6em;
	text-align: center;

	color: #24565a;
}



/* Tabla */




.radiob {
 color: #000000;
 font-weight: bold;
 font-size: 1em;
 display: inline-block;
}

p, ul, ol {
	
	margin-top: 0;
	line-height: 180%;
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
	 
}

ul, ol {
}

a {
   font-size: 1.1em;
	text-decoration: none;
	color: #4486C7;
}

a:hover {
}

input{
    display:block;
    margin:0 auto;
    width:80px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
   
}​


#wrapper {
	width: 960px;
	margin: 0 auto;
	padding: 0;
}


/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 0;
	margin-top: -200px;
}

#page-bgtop {
	padding: 200px 0px;
}

#page-bgbtm {
}

/* Content */

.content {
	float: left;
	width: 610px;
	margin-left: 130px;
   margin-top: 25px;
	border-color: #b5aeae;
   border-style: ridge; border-width: 1px;
  
}

.monit{
  	float: left;
	width: 1250px;
	margin-left: -160px;
   margin-top: 40px;
	
   text-align: center;
   
}

.subtitulo{
  background-color: #a6bbbd;
  text-align: center;
 

}


    
.tabla-check{
 align-content: center;
 text-align: center;
 align-items: center;
}
/* Botón */
.boton {
	-moz-box-shadow: 0px 10px 14px -7px #1f4f53;
	-webkit-box-shadow: 0px 10px 14px -7px #1f4f53;
	box-shadow: 0px 10px 14px -7px #1f4f53;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a8cf64), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #36868d 5%, #75b4ba 100%);
	background:-webkit-linear-gradient(top, #36868d 5%, #75b4ba 100%);
	background:-o-linear-gradient(top, #36868d 5%, #75b4ba 100%);
	background:-ms-linear-gradient(top, #36868d 5%, #75b4ba 100%);
	background:linear-gradient(to bottom, #36868d 5%, #75b4ba 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a8cf64', endColorstr='#72b352',GradientType=0);
	background-color:#36868d;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #75b4ba;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #75b4ba;
	width: auto;
}
.boton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #a8cf64));
	background:-moz-linear-gradient(top, #75b4ba 5%, #36868d 100%);
	background:-webkit-linear-gradient(top, #75b4ba 5%, #36868d 100%);
	background:-o-linear-gradient(top, #75b4ba 5%, #36868d 100%);
	background:-ms-linear-gradient(top, #75b4ba 5%, #36868d 100%);
	background:linear-gradient(to bottom, #75b4ba 5%, #36868d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#a8cf64',GradientType=0);
	background-color:#75b4ba;
}
.boton:active {
	position:relative;
	top:1px;
}

